body {
  background-color: rgb(247, 236, 25);
}

h3,
p,
a {
  border: solid black 1px;
  padding: 3px;
  margin: auto;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  border: solid black 1px;
  gap: 20px;
}

.card-image {
  background-color: rgb(71, 120, 255);
  flex: 1;
  margin: 10px;
}

.card-body {
  flex: 3;
  margin: 10px;
}


@media (min-width: 481px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }

  .card {
    display: flex;
    width: 48%;
    flex-direction: column;
    gap: 0px;
  }

  .card-image {
    height: 80px;
    margin: 10px;
    flex: auto;
  }
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
    gap: 0px;

  }
  .card-image {
    height: 80px;
    margin: 10px;
    flex: auto;
  }
}
